<template>
  <div class="user">
    <x-header :left-options="{ showBack: false }" :right-options="{ showMore: true }" @on-click-more="showMenus = true">{{ headerTitle }}</x-header>
    <!--<div class="bar bar-header">-->
      <!--<h1 class="title">个人中心</h1>-->
      <!--{{ user.name }}<button v-show="" class="button" @click="goToLoginPage">登录</button>-->
    <!--</div>-->
    <!--<div class="content has-header">-->
      <!--<div class="list">-->
        <!--<router-link :to="{ name: 'my-rmb' }" class="item item-icon-left">-->
          <!--<i class="icon ion-email"></i>-->
          <!--我的账单详情-->
        <!--</router-link>-->
      <!--</div>-->
    <!--</div>-->
    <group>
      <cell title="我的账单" is-link :link="{ name: 'my-rmb' }"></cell>
    </group>
    <actionsheet :menus="menus" v-model="showMenus" show-cancel @on-click-menu="clickMenu"></actionsheet>
    <router-view></router-view>
  </div>
</template>

<script type="text/ecmascript-6">
import { getToken, getUserData } from '../../utils/auth-service';
import { mapGetters, mapState, mapActions } from 'vuex';
import { XHeader, Actionsheet, Group, Cell } from 'vux';
export default {
  data: () => {
    return {
      headerTitle: document.title,
      menus: {
        menu1: '登录',
        menu2: '注册'
      },
      showMenus: false
    };
  },

  computed: {
    ...mapGetters({
    }),
    ...mapState([
      'isLogin', 'user'
    ])
  },
  components: {
    XHeader,
    Actionsheet,
    Group,
    Cell
  },
  methods: {
    ...mapActions([
      'getAuthenticatedUser', 'signOut'
    ]),
    goToLoginPage () {
      return this.$router.push({ name: 'login' });
    },
    goToRegisterPage () {
      return this.$router.push({ name: 'register' });
    },
    update () {
      this.$vux.loading.show({
        text: '正在加载'
      });
      if (this.isLogin) {
        this.menus.menu1 = this.user.name;
        this.menus.menu2 = '退出';
      } else {
        this.menus = { menu1: '登录', menu2: '注册' };
      }
      this.$vux.loading.hide();
    },
    clickMenu (obj) {
      switch (obj) {
        case 'menu1':
          if (this.isLogin) {
            console.log(this.user);
          } else {
            return this.goToLoginPage();
          }
          break;
        case 'menu2':
          if (this.isLogin) {
            this.signOut();
            this.update();
          } else {
            return this.goToRegisterPage();
          }
          break;
        default:
          break;
      }
    }
  },
  watch: {
    '$route' (to, from) {
      const toDepth = to.path.split('/').length;
      const fromDepth = from.path.split('/').length;
      if (toDepth < fromDepth) {
        // 从子页跳到当前页
        this.update();
      } else {
        // 从当前页跳到子页
      }
    }
  },
  created () {
    let token = getToken();
    if (token) {
      this.getAuthenticatedUser().then((res) => {
        this.$vux.loading.hide();
        if (res.isAuth) {
          this.menus.menu1 = this.user.name;
          this.menus.menu2 = '退出';
        } else {
          this.$vux.alert.show({
            title: '错误',
            content: '登录过期，请重新登录',
            onShow () {
            },
            onHide () {
            }
          });
          let user = getUserData();
          this.$router.replace({
            name: 'login',
            params: {
              email: user.email ? user.email : '',
              redirectName: this.$router.currentRoute.name
            }
          });
        }
      });
    } else {
      this.menus = { menu1: '登录', menu2: '注册' };
      this.$vux.loading.hide();
    }
  }
};
</script>
<style lang="less">
  .user {
  }
</style>
