<template>
  <div class="my-rmb">
    <x-header :left-options="{ showBack:true, backText: '返回' }" :right-options="{showMore: true}" @on-click-more="showMenus = true">{{ headerTitle }}</x-header>
      <div class="my-rmb-list-div">
        <panel v-for="(list,time) in myRmb.myRmbList" :header="time" :list="list" type="2"></panel>
      </div>
    <actionsheet :menus="menus" v-model="showMenus" show-cancel @on-click-menu="clickMenu"></actionsheet>
    <x-dialog v-model="showDialog" :scroll="false" :hideOnBlur="true">
      <group title="添加账单">
        <group :title="moneyData.title">
          <x-number :title="moneyData.title" :min="0" fillable :step="0.5" v-model="moneyData.val" required ></x-number>
          <x-switch title="花费or收入转换" v-model="moneyData.type" @on-change="numberChange"></x-switch>
        </group>
        <group title="标签">
          <selector v-show="!myRmb.tagData.type" v-model="myRmb.tagData.val" title="标签" :options="myRmb.tagData.list" required ></selector>
          <x-input v-show="myRmb.tagData.type" title="其他标签" v-model="myRmb.tagData.value"></x-input>
          <x-switch title="其他标签" v-model="myRmb.tagData.type" @on-change="tagChange"></x-switch>
        </group>
        <x-textarea :max="50" v-model="desc" name="desc" placeholder="填写描述，例：买了什么东西" required ></x-textarea>
        <datetime v-model="datetime" title="时间" required ></datetime>
        <group class="my-add-rmb-btn">
          <x-button text="提交" type="primary" @click.native="startAddMyRmb" ></x-button>
        </group>
      </group>
    </x-dialog>
  </div>
</template>

<script  type="text/ecmascript-6">
  import { mapState, mapGetters, mapActions } from 'vuex';
  import { XHeader, Panel, Actionsheet, XDialog, Group, XInput, Datetime, Selector, XButton, XNumber, XTextarea, XSwitch } from 'vux';
  export default {
    data () {
      return {
        headerTitle: document.title,
        menus: {
          menu1: '添加',
          menu2: '管理'
        },
        showMenus: false,
        showDialog: false,
        moneyData: {
          title: '花费', // 为前端显示花费or收入
          type: false, // 是否为收入
          val: 0 // 多少钱
        },
        datetime: new Date().getFullYear() + '-' + (new Date().getMonth() + 1) + '-' + new Date().getDate(),
        desc: '' // 描述
      };
    },
    computed: {
      ...mapGetters({
      }),
      ...mapState([
        'myRmb'
      ])
    },
    methods: {
      ...mapActions([
        'getMyRmbList', 'getTagList', 'addMyRmb'
      ]),
      clickMenu (obj) {
        switch (obj) {
          case 'menu1':
            this.showAddMyRmbDialog();
            break;
          case 'menu2':
            console.log('click menu2');
            break;
          default:
            break;
        }
      },
      showAddMyRmbDialog () {
        this.showDialog = true;
      },
      hideAddMyRmbDialog () {
        this.showDialog = false;
      },
      numberChange (val) {
        if (val) {
          this.moneyData.title = '收入';
        } else {
          this.moneyData.title = '花费';
        }
      },
      tagChange (val) {
        if (val) {
          // 其他标签
        } else {
          this.myRmb.tagData.value = '';
        }
      },
      startAddMyRmb () {
        let data = {
          moneyData: {
            type: this.moneyData.type, // 是否为收入
            val: this.moneyData.val // 多少钱
          },
          datetime: this.datetime, // 时间
          tagData: {
            val: this.myRmb.tagData.val, // 标签的id
            type: this.myRmb.tagData.type, // 是否为其他标签
            value: this.myRmb.tagData.value // 其他标签的字符串
          },
          desc: this.desc
        };
        this.addMyRmb(data).then((res) => {
          this.hideAddMyRmbDialog();
          if (res.code) {
            this.$vux.alert.show({
              title: '信息',
              content: '添加成功！',
              onShow () {
              },
              onHide () {
              }
            });
          } else {
            this.$vux.alert.show({
              title: '错误',
              content: res.msg,
              onShow () {
              },
              onHide () {
              }
            });
          }
        }).catch(error => {
          console.log(error);
          this.$vux.alert.show({
            title: '网络错误',
            content: '网络错误',
            onShow () {
            },
            onHide () {
            }
          });
        });
      }
    },
    components: {
      XHeader,
      Panel,
      Actionsheet,
      XDialog,
      Group,
      XInput,
      Datetime,
      Selector,
      XButton,
      XTextarea,
      XNumber,
      XSwitch
    },
    created () {
      this.$vux.loading.show({
        text: '正在加载'
      });
      this.getMyRmbList().then((res) => {
        console.log(this.myRmb.myRmbList);
        this.$vux.loading.hide();
        if (!res.code) {
          this.$vux.alert.show({
            title: '错误',
            content: res.msg,
            onShow () {
            },
            onHide () {
            }
          });
        }
        // 这里的数据列表放在my-rmb.js的state中
//        this.myRmbList = this.myRmb.myRmbList;
      }).catch(error => {
        console.log(error);
        this.$vux.alert.show({
          title: '网络错误',
          content: '网络错误',
          onShow () {
          },
          onHide () {
          }
        });
      });
      this.getTagList().then((res) => {
        this.$vux.loading.hide();
        if (!res.code) {
          this.$vux.alert.show({
            title: '错误',
            content: res.msg,
            onShow () {
            },
            onHide () {
            }
          });
        }
      }).catch(error => {
        console.log(error);
        this.$vux.alert.show({
          title: '网络错误',
          content: '网络错误',
          onShow () {
          },
          onHide () {
          }
        });
      });
    }
  };
</script>

<style lang="less">
  .my-rmb {
    z-index: 10;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .my-rmb-list-div {
    overflow-y:scroll;
    height: 95%;
  }
  .my-add-rmb-btn {
    padding: 0.5em 1em;
  }
</style>
