.my-form-text{
  font-size: 5em;
  border-radius: 0.2em;
  padding: 0 0.3em;
  width: 100%;
}
.my-form-text:focus{
  box-shadow: 0px 0px 30px #00fff0;
}
.my-form-button-success{
  background: #00ff2b;
  border-radius: 0.2em;
  font-size: 5em;
  border: 0.1em solid #00fff0;
  color: white;
  padding: 0.2em 0.5em;
  font-weight: bold;
  width: 100%;
}
.my-form-button-success:hover{
  background: #009f19;
}
.my-form-button-success:focus{
  background: #009f19;
}
.my-form-button-error{
  background: #ff2239;
  border-radius: 0.2em;
  font-size: 5em;
  border: 0.1em solid #c7ffff;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.5em;
  width: 100%;
}
.my-form-button-error:hover{
  background: #9f1526;
}
.my-form-button-error:focus{
  background: #9f1526;
}
