<template>
  <div class="my-app">
    <view-box ref="viewBox">
      <router-view></router-view>
      <tabbar class="my-app-tabbar">
        <tabbar-item :selected="tag==='index'" @on-item-click="goToIndexPage" >
          <i slot="icon" class="icon ion-home"></i>
          <span slot="label">首页</span>
        </tabbar-item>
        <tabbar-item :selected="tag==='user'" @on-item-click="goToUserPage" >
          <i slot="icon" class="icon ion-person"></i>
          <span slot="label">用户</span>
        </tabbar-item>
      </tabbar>
    </view-box>
    <!--<div class="tabs tabs-icon-top">-->
      <!--<router-link class="tab-item" :to="{ name: 'index' }" tag="a" replace>-->
        <!--<i class="icon ion-home"></i>-->
        <!--首页-->
      <!--</router-link>-->
      <!--<router-link class="tab-item" :to="{ name: 'user' }" tag="a" replace>-->
        <!--<i class="icon ion-person"></i>-->
        <!--用户-->
      <!--</router-link>-->
    <!--</div>-->
  </div>
</template>

<script type="text/ecmascript-6">
import { mapActions } from 'vuex';
import { Tabbar, TabbarItem, ViewBox } from 'vux';
export default {
  data: () => {
    return {
      tag: null
    };
  },
  components: {
    Tabbar,
    TabbarItem,
    ViewBox
  },
  methods: {
    ...mapActions([
    ]),
    goToIndexPage () {
      return this.$router.replace({ name: 'index' });
    },
    goToUserPage () {
      return this.$router.replace({ name: 'user' });
    }
  },
  created () {
    this.tag = this.$route.name;
  }
};
</script>

<style lang="less">
  .my-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .my-app-tabbar {
    z-index: 1 !important;
  }
</style>
