<template>
  <div class="index">
    <h2 style="text-align: center">我觉得黄金挺好的，那是因为你就是<font style="color:#ff0066">黄金</font>。</h2>
    <h4 style="text-align: center"><font style="color:#ff0066">黄金</font>就是一小学生级，真正的大神都是从<font style="color:#686868">白金</font>起来的，妈的，上了<font style="color:#686868">白金</font>就是爽，淘汰一大堆小学生。</h4>
    <h5 style="text-align: center;color:red">如果说现在你还没上白金的话，那就别想那么多，先想想怎样把黄金保住吧，毕竟这就是你的最高级别</h5>
    <h3>反正我觉得<font style="color:#ff0066">黄金</font>很水，<font style="color:#686868">白金</font>很好！</h3>
    <h6><img width="100%" src="./images/baijin.jpg" alt="我的白金图" /></h6>
    <h3 style="text-align: center">我的演讲完毕！祝工作愉快！谢谢！</h3>
  </div>
</template>

<script>
  import { Group, Cell } from 'vux';
  export default {
    components: {
      Group,
      Cell
    }
  };
</script>

<style lang="less">
  .index {
  }
</style>
