<template>
  <div class="login">
    <x-header :left-options="{ showBack:true, backText: '返回' }" @on-click-more="">{{ headerTitle }}</x-header>
    <group>
      <x-input title="邮箱" v-model="email" placeholder="输入邮箱" type="email" is-type="email" required></x-input>
      <x-input title="密码" v-model="password" placeholder="输入密码" :min="6" :max="20" type="password" required></x-input>
    </group>
    <group>
      <x-button text="登录" type="primary" @click.native="startLogin" ></x-button>
    </group>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import { XHeader, Group, XInput, XButton } from 'vux';
  export default {
    data: () => {
      return {
        headerTitle: document.title,
        email: '',
        password: ''
      };
    },
    computed: mapGetters({
    }),
    methods: {
      ...mapActions([
        'login'
      ]),
      startLogin () {
        let data = {
          email: this.email,
          password: this.password
        };
        this.login(data).then((res) => {
          if (res.isLogin) {
            // 登录成功跳转到对应路由，默认为user
            let query = this.$router.currentRoute.query;
            return this.$router.replace({ name: query.redirectName ? query.redirectName : 'user' });
          } else {
            console.log(res);
            // 登录失败弹出失败信息
//            window.alert(res.msg);
          }
        });
      }
    },
    components: {
      XHeader,
      Group,
      XInput,
      XButton
    },
    created () {
    }
};
</script>
<style lang="less">
  .login {
    z-index: 10;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
</style>
