<template>
  <div class="register">
    <x-header :left-options="{ showBack:true, backText: '返回' }" @on-click-more="">{{ headerTitle }}</x-header>
    <group>
      <x-input title="手机号" v-model="mobile" placeholder="输入手机号" type="tel" is-type="china-mobile" ref="mobile" required></x-input>
      <x-input title="昵称" v-model="name" placeholder="输入昵称" type="text" ref="name" required ></x-input>
      <x-input title="邮箱" v-model="email" placeholder="输入邮箱" type="email" is-type="email" ref="email" required></x-input>
      <x-input title="微信号" v-model="weChatNum" placeholder="输入为信号" type="text"></x-input>
      <x-input title="密码" v-model="password" placeholder="密码必须是6-20位" :min="6" :max="20" type="password" ref="password" required></x-input>
      <x-input title="确认密码" v-model="passwordConfirm" ref="passwordConfirm" placeholder="再次输入密码确认" :min="6" :max="20" type="password" required></x-input>
      <group title="性别">
        <radio v-model="sexValue" :options="sexList" @on-change="sexChange"></radio>
      </group>
      <x-button text="注册" action-type="button" type="warn" @click.native="startRegister" ></x-button>
    </group>
    <group>

    </group>
  </div>
</template>
<script>
  import { mapGetters, mapActions } from 'vuex';
  import { XHeader, Group, XInput, XButton, Radio } from 'vux';
  export default {
    data () {
      return {
        headerTitle: document.title,
        name: '',
        email: '',
        password: '',
        passwordConfirm: '',
        sexList: [ '男', '女' ],
        sexValue: '男',
        sex: 1,
        mobile: '',
        weChatNum: ''
      };
    },
    computed: mapGetters({
    }),
    methods: {
      ...mapActions([
        'register'
      ]),
      startRegister () {
        if (!this.$refs.name.valid || !this.$refs.mobile.valid || !this.$refs.email.valid || !this.$refs.password.valid || !this.$refs.passwordConfirm.valid) {
          this.$vux.alert.show({
            title: '错误',
            content: '输入格式有误，请检查后重试',
            onShow () {
              return false;
            },
            onHide () {
              return false;
            }
          });
          return false;
        }
        if (this.password !== this.passwordConfirm) {
          this.$vux.alert.show({
            title: '错误',
            content: '两次输入的密码不一致',
            onShow () {
            },
            onHide () {
            }
          });
          return false;
        }
        let data = {
          name: this.name,
          email: this.email,
          password: this.password,
          sex: this.sex,
          mobile: this.mobile,
          weChatNum: this.weChatNum
        };
        this.register(data).then((res) => {
          if (res.isSuccess) {
            // 登录成功跳转到对应路由，默认user路由
            return this.$router.push({ name: this.$router.currentRoute.params.redirectName ? this.$router.currentRoute.params.redirectName : 'user' });
          } else {
            this.$vux.alert.show({
              title: '错误',
              content: res.msg,
              onShow () {
              },
              onHide () {
              }
            });
          }
        });
      },
      sexChange (value) {
        if (value === '女') {
          this.sex = 0;
        } else {
          this.sex = 1;
        }
      }
    },
    components: {
      XHeader,
      Group,
      XInput,
      XButton,
      Radio
    },
    created () {
    }
};
</script>
<style lang="less">
  .register {
    z-index: 10;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
</style>
